body {
  background-image: url("free-antique-background-hd-1.jpg")
}

h1 {
  text-align: center;
  font-size: 50px;
  }

header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

p {
    margin: 8px;
    font-size: 22px;
    letter-spacing: 2px;
}

p+p {
    text-align: center;
}

.title {
    display: grid;
    grid-template-columns: 550px 120px 120px;
    margin: 8px;
    line-height: 12px;
    justify-content: center;
}

.title p {
    font-size: 27px;
    text-decoration: underline;
}

.list {
    display: grid;
    grid-template-columns: 550px 120px 120px;
    margin: 8px;
    line-height: 12px;
    justify-content: center;
}

#app {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
    width: auto;
    align-self: center;
    font-size: 25px;
    margin-top: 30px;
}

main div:nth-child(odd) {
  background-color: hsl(0, 0%, 75%);
}

label {
  margin: 10px
}

input {
  font-size: 20px;
}

.button{
  margin-top: 15px;
  font-size: 20px;
  display:block;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  border:2px solid hsl(212, 85%, 20%);
  border-radius: 25px;
  box-sizing: border-box;
  text-decoration:none;
  color:hsl(0, 0%, 100%);
  background-color: hsl(212, 85%, 63%);
  text-shadow: 2px 2px	hsl(0, 0%, 0%);
  text-align:center;
}





